.timeline.timeline-1 {
    position: relative;
}

.timeline.timeline-1 .timeline-sep {
    z-index: 0;
    content: "";
    position: absolute;
    left: 73px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #EBEDF3;
}

.timeline.timeline-1 .timeline-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.timeline.timeline-1 .timeline-item .timeline-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    font-weight: 500;
    color: #B5B5C3;
}

.timeline.timeline-1 .timeline-item .timeline-badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    border: 4px solid white;
    position: relative;
    z-index: 0;
}

.timeline.timeline-1 .timeline-item .timeline-badge .svg-icon,
.timeline.timeline-1 .timeline-item .timeline-badge i {
    line-height: 0;
}

.timeline.timeline-1 .timeline-item .timeline-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 0 0 0.75rem;
}

.timeline.timeline-1 .timeline-item:last-child {
    margin-bottom: 0;
}

.timeline.timeline-2 {
    position: relative;
    padding: 0;
    margin: 0;
}

.timeline.timeline-2 .timeline-bar {
    background-color: #EBEDF3;
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    top: 5px;
    bottom: 5px;
    left: 4px;
    z-index: 0;
    margin: 0.5rem 0;
}

.timeline.timeline-2 .timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 0;
}

.timeline.timeline-2 .timeline-item .timeline-badge {
    position: relative;
    z-index: 1;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #E4E6EF;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-primary {
    background-color: #3699FF;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-secondary {
    background-color: #E4E6EF;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-success {
    background-color: #1BC5BD;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-info {
    background-color: #8950FC;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-warning {
    background-color: #FFA800;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-danger {
    background-color: #F64E60;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-light {
    background-color: #F3F6F9;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-dark {
    background-color: #181C32;
}

.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-white {
    background-color: #ffffff;
}

.timeline.timeline-2 .timeline-item .timeline-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.timeline.timeline-3 .timeline-items {
    margin: 0;
    padding: 0;
}

.timeline.timeline-3 .timeline-items .timeline-item {
    margin-left: 25px;
    border-left: 2px solid #EBEDF3;
    padding: 0 0 20px 50px;
    position: relative;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-media {
    position: absolute;
    top: 0;
    left: -26px;
    border: 2px solid #EBEDF3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    line-height: 0;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-media i {
    font-size: 1.4rem;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-media .svg-icon svg {
    height: 24px;
    width: 24px;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-media img {
    max-width: 48px;
    max-height: 48px;
    border-radius: 100%;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-content {
    border-radius: 0.85rem;
    position: relative;
    background-color: #F3F6F9;
    padding: 0.75rem 1.5rem;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-content:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 10px;
    left: -25px;
    border-right: solid 10px #F3F6F9;
    border-bottom: solid 17px transparent;
    border-left: solid 17px transparent;
    border-top: solid 17px transparent;
}

.timeline.timeline-3 .timeline-items .timeline-item:last-child {
    border-left-color: transparent;
    padding-bottom: 0;
}

.timeline.timeline-4 {
    position: relative;
    width: 100%;
}

.timeline.timeline-4:after {
    content: "";
    position: absolute;
    width: 5px;
    top: 0;
    margin-top: 0.1rem;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
    background-color: #EBEDF3;
    border-radius: 0.42rem;
}

.timeline.timeline-4.timeline-center {
    margin: 0 auto;
}

.timeline.timeline-4 .timeline-bar {
    border-radius: 0.42rem;
    width: 20px;
    height: 5px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    background-color: #EBEDF3;
}

.timeline.timeline-4 .timeline-items {
    position: relative;
}

.timeline.timeline-4 .timeline-items .timeline-item {
    position: relative;
    margin-left: 0;
    width: 50%;
    min-height: 3rem;
}

.timeline.timeline-4 .timeline-items .timeline-item:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 3rem;
    left: 100%;
    margin-left: -3rem;
    border-left: solid 10px #F3F6F9;
    border-bottom: solid 17px transparent;
    border-right: solid 17px transparent;
    border-top: solid 17px transparent;
}

.timeline.timeline-4 .timeline-items .timeline-item .timeline-badge {
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 3.5rem;
}

.timeline.timeline-4 .timeline-items .timeline-item .timeline-badge>div {
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.timeline.timeline-4 .timeline-items .timeline-item .timeline-label {
    display: block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 0.5rem;
}

.timeline.timeline-4 .timeline-items .timeline-item .timeline-content {
    position: relative;
    border-radius: 0.42rem;
    padding: 1rem 1.5rem;
    background-color: #F3F6F9;
}

.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-left {
    left: 0;
    padding-right: 2.85rem;
    position: relative;
}

.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-left .timeline-badge {
    right: -10px;
}

.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-left .timeline-label {
    text-align: right;
}

.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right {
    left: 50%;
    padding-left: 2.86rem;
}

.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right .timeline-badge {
    left: -10px;
}

.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right .timeline-label {
    text-align: left;
}

.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right:after {
    right: 100%;
    left: auto;
    margin-right: -3rem;
    border-right: solid 10px #F3F6F9;
    border-left: solid 17px transparent;
}

.timeline.timeline-4 .timeline-items .timeline-item:first-child {
    top: 2rem;
}

.timeline.timeline-4 .timeline-items .timeline-item:last-child {
    bottom: 2rem;
}

.timeline.timeline-4.timeline-justified .timeline-bar {
    left: 5px;
}

.timeline.timeline-4.timeline-justified:after {
    left: 5px;
}

.timeline.timeline-4.timeline-justified .timeline-items {
    padding: 1rem 0;
}

.timeline.timeline-4.timeline-justified .timeline-items .timeline-item {
    width: 100%;
    left: 0;
    padding-left: 2.85rem;
    position: relative;
    top: 0;
    bottom: 0;
    margin-bottom: 1.5rem;
}

.timeline.timeline-4.timeline-justified .timeline-items .timeline-item:after {
    right: 100%;
    left: auto;
    margin-left: auto;
    margin-right: -3rem;
    border-right: solid 10px #F3F6F9;
    border-left: solid 17px transparent;
}

.timeline.timeline-4.timeline-justified .timeline-items .timeline-item .timeline-badge {
    left: -5px;
}

.timeline.timeline-4.timeline-justified .timeline-items .timeline-item .timeline-label {
    text-align: left;
}

.timeline.timeline-4.timeline-justified .timeline-items .timeline-item:last-child {
    margin-bottom: 0;
}

@media (max-width: 991.98px) {
    .timeline.timeline-4 .timeline-bar {
        left: 5px !important;
    }
    .timeline.timeline-4:after {
        left: 5px !important;
    }
    .timeline.timeline-4 .timeline-items {
        padding: 1rem 0;
    }
    .timeline.timeline-4 .timeline-items .timeline-item {
        width: 100% !important;
        left: 0 !important;
        padding-right: 0 !important;
        padding-left: 2.85rem !important;
        position: relative;
        top: 0 !important;
        bottom: 0 !important;
        margin-bottom: 1.5rem;
    }
    .timeline.timeline-4 .timeline-items .timeline-item:after {
        right: 100%;
        left: auto !important;
        margin-left: auto;
        margin-right: -3rem;
        border-right: solid 10px #F3F6F9;
        border-left: solid 17px transparent;
    }
    .timeline.timeline-4 .timeline-items .timeline-item .timeline-badge {
        left: -5px !important;
    }
    .timeline.timeline-4 .timeline-items .timeline-item .timeline-label {
        text-align: left !important;
    }
    .timeline.timeline-4 .timeline-items .timeline-item:last-child {
        margin-bottom: 0 !important;
    }
}

.timeline.timeline-5 .timeline-items {
    margin: 0;
    padding: 0;
}

.timeline.timeline-5 .timeline-items .timeline-item {
    margin-left: 0;
    padding: 0;
    position: relative;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-media {
    position: absolute;
    top: 0;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    line-height: 0;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-media i {
    font-size: 1.4rem;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-media .svg-icon svg {
    height: 24px;
    width: 24px;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc {
    padding: 9px 0 0 44px;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc::before {
    content: "";
    position: absolute;
    width: 4px;
    height: calc(100% - 32px);
    background-color: #EBEDF3;
    border-radius: 6px;
    top: 40px;
    left: 16px;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-primary::before {
    background-color: #3699FF;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-primary::before {
    background-color: #E1F0FF;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-secondary::before {
    background-color: #E4E6EF;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-secondary::before {
    background-color: #EBEDF3;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-success::before {
    background-color: #1BC5BD;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-success::before {
    background-color: #C9F7F5;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-info::before {
    background-color: #8950FC;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-info::before {
    background-color: #EEE5FF;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-warning::before {
    background-color: #FFA800;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-warning::before {
    background-color: #FFF4DE;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-danger::before {
    background-color: #F64E60;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-danger::before {
    background-color: #FFE2E5;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light::before {
    background-color: #F3F6F9;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-light::before {
    background-color: #F3F6F9;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-dark::before {
    background-color: #181C32;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-dark::before {
    background-color: #D1D3E0;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-white::before {
    background-color: #ffffff;
}

.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-white::before {
    background-color: #ffffff;
}

.timeline.timeline-5 .timeline-items .timeline-item:last-child {
    border-left-color: transparent;
    padding-bottom: 0;
}

.timeline.timeline-6 {
    position: relative;
}

.timeline.timeline-6:before {
    content: "";
    position: absolute;
    left: 51px;
    width: 3px;
    top: 0;
    bottom: 0;
    background-color: #EBEDF3;
}

.timeline.timeline-6 .timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.7rem;
}

.timeline.timeline-6 .timeline-item:last-child {
    margin-bottom: 0;
}

.timeline.timeline-6 .timeline-item .timeline-label {
    width: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    color: #3F4254;
}

.timeline.timeline-6 .timeline-item .timeline-badge {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: white;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 1px;
    margin-left: -0.5rem;
    padding: 3px !important;
    border: 6px solid #ffffff !important;
}

.timeline.timeline-6 .timeline-item .timeline-badge span {
    display: block;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    background-color: #EBEDF3;
}

.timeline.timeline-6 .timeline-item .timeline-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}